@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@font-face {
  font-family: 'Impact';
  src: url(./assets/fonts/impact.ttf);
}

@font-face {
  font-family: 'Comic Sans';
  src: url(./assets/fonts/COMIC.TTF);
}

@font-face {
  font-family: 'Arial';
  src: url(./assets/fonts/arial.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/montserrat.ttf);
}

@font-face {
  font-family: 'Myriad Pro';
  src: url(./assets/fonts/myriad-pro.ttf);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header--image {
  height: 100%;
  margin-right: 18px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  width: 100%;
  height: 100%;
  padding: 36px;
}

.container {
  width: 100%;
  background-color: #141414;
  padding: 24px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.meme--editor {
  border-bottom: 2px solid #1F1F1F;
}

.form {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.form--config {
  margin-bottom: 12px;
  border-bottom: 2px solid #1F1F1F;
}

.form--subtitle {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.form--input, .form--button, .form--select, .form--color-picker {
  height: 36px;
}

.form--row, .form--button {
  margin-bottom: 8px;
}

.form--row {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form--row > svg {
  margin-right: 6px;
  width: 14px;
}

.form--input {
  max-width: 75%;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  flex: 1;
  margin-right: 8px;
  margin-bottom: 0;
}

.form--row button {
  all: unset;
  text-align: center;
  cursor: pointer;
  margin-inline: 4px;
  transition: transform 2ms ease-in-out;
}

.form--input-clear, .form--input-delete {
  font-size: 12px;
}

.form--add-captions {
  all: unset;
  color: #474747;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 12px;
  overflow-y: scroll;
}

.form--add-captions > svg {
  margin-right: 6px;
  font-size: 18px;
}

.form--add-captions:hover {
  color: #858585;
}

.form--button, .save--button {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  flex-shrink: 0;
}

.form--button:hover, .save--button:hover {
  background: #CE42FF;
}

.save--button > svg, .form--button > svg {
  margin-inline: 8px;
}

.form--row > .form--select {
  flex-grow: 1;
  margin-right: 8px;
}

.form--row > .form--select:last-of-type {
  flex-shrink: 1;
  margin: 0 !important;
}

.form--color-picker {
  max-width: 25%;
  margin-right: 8px;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.meme {
  position: relative;
  width: 100%;
  padding: 12px 0;
}

#memeCapture {
  overflow: hidden;
}

.meme--image {
  max-height: 100%;
  max-width: 100%;
}

.meme--text-container {
  position: absolute;
  top: 0;
  max-width: 100%;
  border: 3px dashed rgba(0, 0, 0, 0);
}

.meme--text-container:hover, .meme--text-container.resizing {
  background-color: rgba(133, 133, 133, 0.5);
  backdrop-filter: blur(10px);
  border-color: #A818DA;
}

.meme--text-container:hover > .meme--text-resizer {
  display: block;
}

.meme--text-resizer {
  display: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #A818DA;
  position: absolute;
  right: -7px;
  bottom: -7px;
  cursor: se-resize;
}

.meme--text {
  margin: 5px 0;
  padding: 0 5px;
  color: white;
  letter-spacing: 1px;
  line-height: 1.2em;
  overflow-wrap: break-word; 
  cursor: move;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  main {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .container {
    width: 1024px;
    margin: auto;
  }

  .meme--editor {
    display: flex;
    height: 450px;
    max-width: 100%;
    margin-bottom: 12px;
    padding-bottom: 12px;
  }

  .form {
    width: 30%;
    margin-right: auto;
    padding-right: 12px;
    border-right: 2px solid #1F1F1F;
  }

  .form--row {
    margin-bottom: 12px;
  }

  .form--captions {
    margin-bottom: auto;
    overflow-y: scroll;
  }

  .meme {
    width: 70%;
    height: 100%;
    padding: 8px;
  }

  #memeCapture {
    height: 100%;
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }

  .meme--image {
    height: 100%;
  }
  
}
