@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Impact";
  src: url(./assets/fonts/impact.ttf);
}
@font-face {
  font-family: "Comic Sans";
  src: url(./assets/fonts/COMIC.TTF);
}
@font-face {
  font-family: "Arial";
  src: url(./assets/fonts/arial.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/montserrat.ttf);
}
@font-face {
  font-family: "Myriad Pro";
  src: url(./assets/fonts/myriad-pro.ttf);
}

@layer base {
  :root {
    color-scheme: light dark;
    font-synthesis: none;
    font-weight: 400;
    line-height: 0.75rem;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-memeplex-900 text-gray-100;
  }

  * {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #2b2a33;
  }

  *::-webkit-scrollbar {
    width: 0.25rem;
  }

  *::-webkit-scrollbar-track {
    @apply bg-memeplex-700;
  }

  *::-webkit-scrollbar-thumb {
    border-width: 2px;
    border-radius: 0.125rem;
    @apply bg-memeplex-700 border-memeplex-700;
  }

  body {
    margin: 0;
    @apply lg:h-screen;
  }

  main {
    width: 100%;
    padding: 2rem 0.5rem;
    @apply lg:h-full;
  }

}

@layer components {
  /* 
    Clases generadas dinámicamente por librerías externas
  */ 

  /*
    - @melloware/coloris
    Input de selección de color
  */
  .clr-field {
    @apply rounded-full overflow-hidden h-12 w-12;
  }

  .clr-field button {
    @apply w-full h-full;
  }

  /*
    - react-moveable
    Caja de control de movimiento, escala y rotación de captions
  */
  .control-box-show {
    z-index: 10 !important;
  }
  
  .control-box-show > .moveable-line.moveable-direction {
    height: 2px !important;
    transform-origin: 0px 0.5px !important;
    @apply !bg-teal-400;
  }
  
  .control-box-show .moveable-control {
    width: 12px !important;
    height: 12px !important;
    border: 2px solid !important;
    background: #FFF !important;
    margin-top: -6px !important;
    margin-left: -6px !important;
    @apply !border-teal-400;
  }
  
  .control-box-show > .moveable-rotation > .moveable-control.moveable-rotation-control {
    border: 2px solid !important;
    @apply !border-teal-400;
  }
  
  .control-box-show > .moveable-rotation > .moveable-line.moveable-rotation-line {
    border: 1px solid !important;
    @apply !border-teal-400;
  }
  
  .control-box-hide > .moveable-line.moveable-direction,
  .control-box-hide > .moveable-control,
  .control-box-hide > .moveable-rotation {
    display: none !important;
  }

}
